@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,600;0,700;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Variable */
:root {
  --primary-color: #2827cc;
  --text-color: #0d0d0d;
  --text-color-light: #242b2e;
  --star-color: #fb8200;

  --heading-font: "Poppins", sans-serif;
  --text-font: "Montserrat", sans-serif;
}

/* Re-usable CSS */

.container {
  width: 1140px;
  margin: 0 auto;
}

.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--primary-color);
  color: #fff;
  width: 200px;
  height: 50px;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  font-family: var(--heading-font);
  font-size: 1.2rem;
  text-transform: capitalize;
  border-radius: 25px;
}

/* Header */

.header {
  height: 80px;
}

.nav_bar {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo span {
  font-size: 2rem;
  font-family: var(--heading-font);
  text-transform: capitalize;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 2rem;
}

.menu_item {
  list-style: none;
}

.menu_item a {
  text-decoration: none;
  font-family: var(--heading-font);
  font-size: 1rem;
  text-transform: capitalize;
  color: var(--text-color);
}

.menu_item i,
.toggle label {
  font-size: 1.3rem;
  margin-top: 0.5rem;
}

.toggle {
  display: none;
}
.toggle input[type="checkbox"] {
  position: relative;
  left: 20px;
  visibility: hidden;
}

/* Hero section */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
}
.hero_texts {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hero_heading {
  font-size: 3.5rem;
  font-family: var(--heading-font);
  color: var(--text-color);
}

.hero_description {
  width: 300px;
  font-family: var(--text-font);
  color: var(--text-color-light);
}

.hero_img {
  width: 45%;
  background: url("images/background/Circle\ design.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero_img img {
  width: 95%;
}

/* Partner section */
.partner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
  border-top: 2px solid #dadada;
  border-bottom: 2px solid #dadada;
  padding: 2rem 0;
  flex-wrap: wrap;
}

.partner_logo {
  width: 75px;
}
.partner_logo img {
  width: 100%;
}

/* Product section */
.product {
  padding: 5rem 0;
}

.section_title {
  position: relative;
  font-family: var(--heading-font);
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
}
.section_title::after {
  content: "Product";
  position: absolute;
  font-size: 10rem;
  left: 0;
  top: 0;
  transform: translate(10px, -106px);
  z-index: -1;
  color: #e0e0e046;
}

.product_items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  justify-items: center;
  margin-top: 60px;
}

.product_item {
  width: 350px;
  height: 475px;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
}

.product_item img {
  width: 100%;
  height: 220px;
}

.product_title {
  font-family: var(--heading-font);
  text-transform: capitalize;
  margin: 0.7rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.product_price {
  font-family: var(--text-font);
  font-size: 1.5rem;
  margin-bottom: 0.4rem;
  display: inline-block;
}

.product_rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.rating_star i {
  color: var(--star-color);
}

.rating_point {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 1rem;
}

.product_description {
  font-size: 1rem;
  font-family: var(--text-font);
  margin: 10px 0;
}

/* Media query */

@media only screen and (max-width: 1200px) {
  .container {
    width: 85%;
  }
}

@media only screen and (max-width: 1024px) {
  .product_items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 968px) {
  .menu {
    display: none;
  }
  .logo {
    font-size: 1.5rem;
  }
  .toggle {
    display: block;
  }

  .hero_heading {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .hero_heading {
    font-size: 2rem;
  }
  .hero_description {
    width: 300px;
  }
  .btn {
    width: 150px;
    height: 40px;
    font-size: 0.8rem;
  }

  .section_title::after {
    font-size: 0;
  }

  .product_item {
    width: 300px;
    height: 430px;
  }
}

@media only screen and (max-width: 568px) {
  .product_items {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 468px) {
  .hero {
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  .hero_texts,
  .hero_img {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .hero_texts {
    order: 2;
  }

  .hero_heading {
    font-size: 1.5rem;
  }

  .hero_description {
    font-size: 0.75rem;
  }

  .hero_img img {
    width: 85%;
    order: 1;
  }
}
