@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,600;0,700;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Variable */
:root {
  --primary-color: #2827cc;
  --text-color: #0d0d0d;
  --text-color-light: #242b2e;

  --heading-font: "Poppins", sans-serif;
  --text-font: "Montserrat", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  height: 80px;
}

.nav_bar {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo span {
  font-size: 2rem;
  font-family: var(--heading-font);
  text-transform: capitalize;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 2rem;
}

.menu_item {
  list-style: none;
}

.menu_item a {
  text-decoration: none;
  font-family: var(--heading-font);
  font-size: 1rem;
  text-transform: capitalize;
  color: var(--text-color);
}

.menu_item i,
.toggle label {
  font-size: 1.3rem;
  margin-top: 0.5rem;
}

.toggle {
  display: none;
}
.toggle input[type="checkbox"] {
  position: relative;
  left: 20px;
  visibility: hidden;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 85%;
  }
}

@media only screen and (max-width: 968px) {
  .menu {
    display: none;
  }
  .toggle {
    display: block;
  }
}
